@model IEnumerable<RetroCarsWebApp.Models.Car>

<ul class="car-list">
    @foreach (var car in Model)
    {
        <li>
            @{ ViewBag.ShowBuyButton = true; }
            @Html.PartialAsync("_CarPartial", car)
        </li>
    }
</ul>
