@model IEnumerable<Car>

<ul class="car-list">
    @foreach (var car in Model)
    {
        <li>
            @{ ViewBag.ShowBuyButton = false; }
            @Html.PartialAsync("_CarPartial", car)
        </li>
    }
</ul>